<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <link rel="stylesheet" href="home.css">
    <div class="container-fluid">
        <div class="logo">
            <a href="/home">
            <img src="/images/logo-page.png">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Login</a> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/home/Slogin">Student Login</a></li>
                        <li><a class="dropdown-item" href="#">Admin Login</a></li>
                        <li><a class="dropdown-item" href="#">College Login</a></li>
                        <li><a class="dropdown-item" href="#">Organization Login</a></li>
                    </ul>
                </li>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">FAQ</a>
                <a class="nav-link" href="#">How To Apply</a>
            </div>
        </div>
    </div>
</nav>