<% layout("/layout/boilerplate") %>
    <link rel="stylesheet" href="/login/email.css">
    <div class="container">
        <div class="card">
            <div class="data">
                <h3>The Email which You Entered will Recieve a OTP fill The Box With OTP.To Verify Your E-mail</h3>
            </div>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter OTP :</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter OTP send to Your Email">
                </div>
        </div>
    </div>