<% layout("/layout/boilerplate") %>
   <link rel="stylesheet" href="home2.css">
   <body>
      <div class="container-fluid">
         <div class="container-fluid">
         <img src="images/image2.jpg" class="img-fluid w-100" alt="image">
         </div>
         <div class="anncoument d-flex ">
            <div class="head">Anncoument</div>
            <div class="data">
               <marquee class="m-1">
                  Open the Renewal applications of Junior Merit Scholarship Scheme ( Class - XII) of S&amp;ME Department AS 2024-2025 
               </marquee>
            </div>
         </div>
         <div class="howapply">
            <div class="container">
               <h1>How To Apply ?</h1>
               <span>Unlock Your Future: Scholarship Application Guide</span>
               <div class="card-group p-5">
                  <div class="card m-3" style="width: 18rem;">
                     <div class="card-body">
                        <h5 class="card-title">Check Eligibility</h5>
                        <p class="card-text"><ul>
                           <li>Please go to the State Scholarship Portal</li>
                           <li>Click on the Check Eligibility</li>
                           <li>Enter the details information in the screen</li>
                           <li>You might be eligible for the following schemes</li>
                        </ul></p>
                     </div>
                  </div>
                  <div class="card m-3" style="width: 18rem;">
                     <div class="card-body">
                        <h5 class="card-title">Registration(one Time) or Login</h5>
                        <p class="card-text"><ul>
                           <li>Enter the Aadhaar number and proceed further.</li>
                           <li>Check your registered mobile or email to get the user ID and password.</li>
                           <li>Click login link at the portal and enter User ID and password to apply the scholarship.</li>
                        </ul></p>
                     </div>
                  </div>
                  <div class="card m-3" style="width:auto;">
                     <div class="card-body">
                        <h5 class="card-title">Select Scheme & Apply</h5>
                        <p class="card-text"><ul>
                           <li>Please select the Department name and Scheme name.</li>
                           <li>Provide all necessary details I.e. Student, Academic, Eligibility & Bank information.</li>
                           <li>Submit and Download the form, then print it.</li>
                        </ul></p>
                     </div>
                  </div>
               </div>
            </div>
   </body>